/*arquivo style.css*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: rgba(255, 68, 0, 0.708);
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive; /* fonte */
    font-size: 24px;
    background-image: url('laranja.jpg'); 
    background-size: cover; /* Garante quea imagem cubra todo o corpo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    margin: 0;
    padding: 0;
}

.sub{
    margin-top: 40px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center; /* local do texto */
    font-size: 70px;
    font-family: 'Pacifico', cursive;
}

h2{
    text-align: center;
}

.container{
    width: 80%;
    margin: 80px;
    padding: 50px;
    background-color: rgba(2, 2, 2, 0.635); 
    border: 1px solid ; 
}

.container-wrapper {
    display: flex;
}

.container2{
    width: 30%;
    margin: 50px;
    padding: 50px; 
    border: 2px solid ; 
    
}

.container3{
    width: 30%;
    margin: 50px;
    padding: 50px; 
    border: 2px solid ; 
}

h3{
    text-align: center;
}

.site,.site2{
    text-align:center;
}

/*arquivo style.css*/

/* ... (seus estilos existentes) ... */

a:link, a:visited {
    color: #0077cc; /* Cor padrão do link */
    text-decoration: none; /* Remove a sublinhado padrão */
}

a:hover {
    color: #ffffff; /* Cor quando o mouse está sobre o link */
}


