/*arquivo style.css*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    background-color: rgba(255, 68, 0, 0.708);
    color: rgb(255, 255, 255);
    font-family: 'Robot', cursive;
    font-size: 24px;
    background-image: url('fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sub {
    margin-top: 40px;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

h1:hover {
    transform: scale(1.2); 

}
h2 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 80px;
    padding: 50px;
    background-color: rgba(2, 2, 2, 0.635);
    border: 1px solid; 
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease-in-out;
}

.container:hover{
    transform: scale(1.05)

}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.container2,
.container3 {
    width: 48%;
    margin: 20px 0;
    box-sizing: border-box;


}

.container2 {
    border-right: 2.5px solid #ffffff96;
}

.container3 {
    border-left: 2.5px solid #ffffff96;
}

.container2 img,
.container3 img {
    width: 100%;
    height: auto;
}

h3 {
    text-align: center;
}

.site,
.site2 {
    text-align: center;
}

a:link,
a:visited {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    color: #ffffff;

}

@media screen and (max-width: 600px) {
    .container2,
    .container3 {
        width: 100%;
        border-right: none;
        border-left: none;
    }
}
